# 1. Ignore ทุกอย่างในโปรเจกต์ก่อน
*

# 2. ยกเลิกการ Ignore (Whitelist) เฉพาะสิ่งที่จำเป็น
#    ต่อการ Build และ Run แอปพลิเคชัน
#    หมายเหตุ: เราต้องการไฟล์ dependency ก่อน
#    เพื่อใช้ประโยชน์จาก Docker Layer Caching
!pyproject.toml
!requirements.txt
!uv.lock

# 3. ยกเลิกการ Ignore โฟลเดอร์ซอร์สโค้ดหลัก
#    (เช่นโค้ดอยู่ในโฟลเดอร์ 'src')
!src/